.filter{
      width: 400px;
      margin-left: 40px;
      float: left;
}
.products{
      margin-top: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
}
.search-input{
      height: 42px;
      display: flex;
      justify-content: center;
}
.filter-icon{
      font-size: 24px;
      margin-left: 10px;
      color:#204254;
      display: none;
}
.search{
      border:1px solid #2C2C2C;
      outline: none;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      padding: 3px;
      padding-left: 7px;

}
.search-icon{
      background-color:#2C2C2C;
      padding: 3px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: white;
}
.clear{
      clear: both;
}
.Shop-filter-item{
      display: flex;
      gap: 10px;
}
.clearBtn i{
      color: white !important;
}

.clearBtn:hover{
      background-color:white !important;
}
.clearBtn:hover i{
      color: #2e2e2e !important;
}

.price{
      background-color: var(--orange);
      display: inline-block;
      margin-left: 10px;
      width:50px;
      border-radius: 5px;
      padding: 1px;
      text-align: center;
      color: white;
}
.price-label{
      width: 70px;
}
@media only screen and (max-width:834px) {
      .filter-icon{
            display: inline-block;
      }
      .filter-hide{
            display: none !important;
      }
}